@import '~flag-icons/sass/flag-icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

$melody: 'Hi Melody', cursive;
$roboto: 'Roboto', sans-serif;


a {
    font-family: $roboto;
    font-weight:500;
}

p {
    font-family: $roboto;
    font-weight: 200;
}

h2 {
    font-family: $roboto;
    font-weight:200;
}

header{
    font-family: $roboto;
}

.logo-font {
    font-family: $melody;
    font-weight: normal;
    font-size: xx-large;
}

.form-text {
    font-family: $roboto;
    font-size: medium;
}

.label-font {
    font-family: $roboto;
    font-size: medium;
    opacity: 0.7;
}



